<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width" />

      <!--
      <link href="app/branding/application/style/theme.less" rel="stylesheet/less" type="text/less" />
      <link rel="stylesheet" type="text/css" href="app/dist/branding/application/style/application.min.css" />
      -->
      <link rel="stylesheet" type="text/css" href="app/dist/branding/application/style/application.min.css" />
      <link rel="stylesheet" type="text/css" href="app/vendor/jquery-plugin/style/jquery.fullPage.css" />
      <link rel="stylesheet" type="text/css" href="app/vendor/fontawesome/style/font-awesome.min.css" />

      <title><%= title %></title>

  </head>

  <body data-ng-app="application">
      <div data-ng-view></div>
  </body>

  <script type="text/javascript" src="app/vendor/less/lib/less-1.7.0.min.js"></script>

  <script type="text/javascript" src="app/vendor/jquery/lib/jquery-2.1.1.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="app/vendor/jquery-plugin/lib/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="app/vendor/jquery-plugin/lib/jquery.fullPage.js"></script>

  <script type="text/javascript" src="app/vendor/bootstrap/lib/bootstrap.min.js"></script>

  <script type="text/javascript" src="app/vendor/angular/lib/angular.js"></script>
  <script type="text/javascript" src="app/vendor/angular/lib/i18n/angular-locale_nl-be.js"></script>
  <script type="text/javascript" src="app/vendor/angular/lib/angular-route.js"></script>

  <script type="text/javascript" src="app/vendor/angular-ui/lib/ui-bootstrap-0.11.0.js"></script>
  <script type="text/javascript" src="app/vendor/angular-ui/lib/ui-bootstrap-tpls-0.11.0.js"></script>

  <script type="text/javascript" src="app/core/ApplicationCore.js"></script>
  <script type="text/javascript" src="app/part/home/Index.controller.js"></script>

</html>
